@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "supercell-magic-webfont";
  src: url("../fonts/supercell-magic-webfont.ttf");
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}
